 body {
   background-color: bisque;
   /* padding: 200px; */

 }

 .imgbody {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  width: 50%;
  margin: auto;
}

 img {
   /* border-radius: 20px 0px 0px 20px; */
   width: 50%;
 }

 .main {
  background-color: azure;
  /* border-radius: 0px 20px 20px 0px; */
  padding: 20px;
}

 h4 {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
 }

 h1 {
   font-family: "Fraunces", serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   font-size: 40px
 }

 p {
   font-family: "Montserrat", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   line-height: 2;
 }

 .cost {
  display: flex;
  align-items: center;
  gap: 4px;

}

.discount {
  text-decoration: line-through;
}

 button {
   border-radius: 3px;
   padding: 12px;
   color: aliceblue;
   background-color: green;
   text-align: center;
   cursor: pointer;
   width: 50%;
   font-size: 18px;
 }

 
 @media only screen and (max-width: 769px) {

    .imgbody {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 20px;
      margin: auto;
    }

    img {
      border-radius: none;
      width:100%;
    }
    .main {
      background-color: azure;
      border-radius: none;
    }

.text{
  width: 100%;
}
h4{
  font-size: 60px;
}
h1{
  font-size: 60px; 
}
p{
  font-size: 40px;
}
 }